* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::selection {
  background: #FFC0CBB0;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Cascadia Code, sans-serif;
  background: wheat;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  width: 50vw;
  height: 30vw;
  border-radius: 5vw;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6vw #b5b3b3;

  div {
    border-radius: 50vw;
    position: absolute;
  }

  .blur {
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5vw;
    text-align: center;
  }

  .purple {
    width: 34vw;
    height: 34vw;
    background: #88077E;
    top: -11vw;
    left: -4vw;
  }

  .yellow {
    width: 29vw;
    height: 29vw;
    background: #FBB836;
    right: -5vw;
    top: -5vw;
  }

  .blue {
    width: 35vw;
    height: 35vw;
    background: #5357DD;
    bottom: -13vw;
    left: -4vw;
  }

  .orange {
    width: 24vw;
    height: 24vw;
    background: #FD6444;
    right: -3vw;
    bottom: -4vw;
  }
}
